body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Sans-serif;
    font-size: 16px;
}

.flex-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.flex-header,
.flex-footer {
    flex-grow: 0;
}
.flex-content-wrapper {
    overflow: hidden;
    flex-grow: 1;
    position: relative;
}
.flex-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.hidden {
    display: none !important;
}


#sections {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(#0655a7, #063454);
    z-index: 100;
    overflow: auto;
}
#sections .controls {
    text-align: center;
    padding: 10px;
}
#sections .controls > div {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border-bottom: 1px dotted #fff;
}
#sections .browser {
    overflow-y: auto;
}
#sections .browser ol {
    float: left;
    margin-left: 10%;
}
#sections .browser li {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 2rem;
    line-height: 3rem;
    text-indent: 1rem;
    padding: .5rem;
    color: #9cc2e0;
}
#sections .browser li.active {
    color: #fff;
    font-weight: bold;
}
#sections .browser li:hover {
    background: linear-gradient(90deg, #0c487d, transparent);
    text-decoration: underline;
    color: #fff;
}

#header {
    color: #eee;
    padding: 10px 10px;
    text-shadow: 0px 0px 3px #000;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10;
}
#header .section {
    margin-right: 10px;
    cursor: pointer;
    border-bottom: 1px dotted;
    font-size: 1.3rem;
    text-transform: uppercase;
    /*background-color: rgb(0 64 130 / 39%);*/
}
#header .auto-play {
    cursor: pointer;
    float: right;
}
#header .auto-play .start {
    color: #18ba60;
    border-bottom: 1px dotted #18ba60;
}
#header .auto-play .stop {
    color: #c64531;
    border-bottom: 1px dotted #c64531;
}
#header .auto-play .sym-stop {
    display: inline-block;
    width: .6em;
    height: .6em;
    margin-right: .3em;
    background-color: #c64531;
}
#header .auto-play .sym-start {
    display: inline-block;
    border-color: transparent transparent transparent #18ba60;
    border-style: solid;
    border-width: .4em;
    height: 0px;
    width: 0px;
}
#header .auto-play .stop {
    display: none;
}


#content {
    background-color: #333;
}
#content .nav-control {
    font-size: 28px;
    position: absolute;
    padding: 5px 15px;
    color: #c7c7c7;
    background-color: #000;
    border-radius: 8px;
    opacity: 0.5;
    margin: -29px 10px 0px 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px #7e7e7e;
    z-index: 4;
}
#content .nav-control:hover {
    opacity: 0.7;
    color: #fff;
}
#content .nav-prev {
    left: 0px;
}
#content .nav-next {
    right: 0px;
}
#content .nav-prev,
#content .nav-next {
    top: 50%;
}
#content .nav-info {
    bottom: 10px;
    right: 0px;
    display: none; /* TODO */
}
#content .nav-thmb {
    left: 0px;
    bottom: 10px;
}
#content .images {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 100px;
    right: 100px;
}
#content .images img {
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    position: absolute;
    left: 0px;
}
#content .images img[data-item-pos].loaded {
    visibility: visible;
    opacity: 1;
}

#content .images img[data-item-pos="current"] {
    box-shadow: 0px 0px 14px 4px #000;
    top: 0px;
    cursor: pointer;
}
#content .images img[data-item-pos="current"]:hover {
}
#content .images img[data-item-pos="current"].swiped-right {
    left: -80px;
    opacity: 0;
    transition: left .6s, opacity .6s;
}
#content .images img[data-item-pos="current"].swiped-left {
    left: 80px;
    opacity: 0;
    transition: left .6s, opacity .6s;
}
#content .images img:not([data-item-pos="current"]) {
    display: none;
}
/*
#content .images img[data-item-pos="next"]:hover,
#content .images img[data-item-pos="prev"]:hover {
    cursor: pointer;
    opacity: 1;
}
*/


#thumbnails {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    max-height: 80%;
    z-index: 10;
    background: linear-gradient(#1f1f1f, #2f2f2f);
    box-shadow: 0px 0px 16px 6px #000;
    border-top: 1px solid #3e3e3e;
}
#thumbnails .controls {
    text-align: center;
    padding: 5px 15px 15px 5px;
}
#thumbnails .controls > div {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    padding: 4px 8px;
    border-bottom: 1px dotted;
    color: #ddd;
}
#thumbnails .controls > div:hover {
    background-color: #000;
    box-shadow: 0px 0px 9px 1px #808080;
}
#thumbnails .controls .page-prev,
#thumbnails .controls .page-next {
    /* broken until they can scroll through galleries */
    display: none;
}
#thumbnails .browser {
    text-align: center;
    margin: 10px 10px 0px 10px;;
}
#thumbnails .browser img {
    height: 100px;
    opacity: 0.7;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px #000;
}
#thumbnails .browser img[data-item-pos="current"] {
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    background-color: #ffeb3b;
}
#thumbnails .browser img[data-item-pos="current"],
#thumbnails .browser img:hover {
    opacity: 1.0;
    box-shadow: 0px 0px 8px 1px #000;
    transition: opacity .6s;
}
#thumbnails .browser img[data-gallery-pos="prev"],
#thumbnails .browser img[data-gallery-pos="next"] {
    height: 80px;
    padding: 10px;
    background-color: #111;
}


#footer {
    height: 100px;
    text-align: center;
    overflow: hidden;
    background: linear-gradient(#1b1b1b, #313131);
    border-top: 1px solid #3e3e3e;
}
#footer img {
    height: 80px;
    margin: 10px 5px;
    cursor: pointer;
    opacity: 0.35;
}
#footer img[data-preload] {
    display: none;
}
#footer img[data-item-pos="current"] {
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    background-color: #ffeb3b;
}
#footer img[data-item-pos="current"],
#footer img:hover {
    opacity: 1.0;
    box-shadow: 0px 0px 8px 1px #000;
    transition: opacity .6s;
}
#footer img:hover {
}
#footer .images img[data-index="0"],
#thumbnails .browser img[data-index="0"] {
    margin-left: 30px;
}
#footer .images img[data-gallery-pos="prev"],
#footer .images img[data-gallery-pos="next"] {
    height: 66px;
    padding: 7px;
    background-color: #111;
}

@media (max-width: 600px) {
    #header {
        padding: 5px 10px;
    }
    #header .section {
        font-size: 1.0rem;
    }
    #sections .browser ol {
        margin-left: 5%;
    }
    #sections .browser li {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    #content .images {
        top: 35px;
        bottom: 35px;
        left: 20px;
        right: 20px;
    }
    #content .nav-control {
        font-size: 24px;
        margin-top: -19px;
        padding: 5px 10px;
    }
    #content .images img[data-item-pos="current"] {
        box-shadow: 0px 0px 10px 2px #000;
    }
    #thumbnails .browser img {
        height: 75px;
    }
    #thumbnails .browser img[data-gallery-pos="prev"],
    #thumbnails .browser img[data-gallery-pos="next"] {
        height: 59px;
        padding: 8px;
    }
    #footer {
        height: 80px;
    }
    #footer img {
        height: 60px;
    }
    #footer .images img[data-gallery-pos="prev"],
    #footer .images img[data-gallery-pos="next"] {
        height: 44px;
        padding: 8px;
    }
}
@media (max-width: 400px) {
    #content .images {
    }
    #content .nav-control {
        bottom: 10px;
        top: auto;
    }
}
